body {
  margin: 0 auto;
  background-color: darkslateblue;
  padding-top: 150px;
}

.App {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.counter {
  width: 600px;
  display: inline-block;
}

.setting_block {
  width: 600px;
  display: inline-block;
}